@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');	


.Header {
    padding-top: 2vh;
    width: 100%;
    position: relative;
    z-index: 10;
    animation: FadeIn 1s 0s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
    display: block;
    font-weight: 400;
    letter-spacing: -.2px;
}


.HeaderGroup {
    margin: 0 auto;
    max-width: 1200px;
}

.Group {
	font-family: 'Lato', sans-serif;
	float: left;
    width: 208px;
    display: block;
    font-size: 16px;
    font-weight: 300;
    color: #1A1B1C;
    letter-spacing: -.2px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

@media screen and (max-height: 450px) {
    .titleOfMe {
    display: none;
    }
}

.titleOfMe {
	font-family: 'Lato', sans-serif;
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 20%;
	cursor: default;
	display: block;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
