@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather');

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;

}

::selection {
  background: #F0F0F0; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #F0F0F0; /* Gecko Browsers */
}

a {
  color: #1F1F1F;
  text-decoration: none;
  font-weight: 600;
}

a, a:visited, a:active {
  color: #1A1B1C;
  position: relative
}
a:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: #1A1B1C;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
a:hover:before {
  visibility: visible;
  width: 100%
}

.active:before {
  width: 100%;
  background-color: rgba(26,27,28,.2);
  visibility: visible
}

.Onboarding {
  background: url('//images.unsplash.com/photo-1550029402-226115b7c579?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1301&q=80');
  height: auto;
  background-size: cover;
  overflow: hidden;
  background-position: top;
  position: relative;
  margin: -1px auto;
  background-clip: content-box;
}

.OnboardingGroup {
  margin:0 auto;
  max-width: 500px;
  padding-top: 15vh;
  padding-bottom: 15vh;
  text-align: center;

}

.Onboarding h1 {
  margin: 0 auto;
  font-family: 'SF Pro Display', sans-serif;
  color:white;
  -webkit-font-smoothing: antialiased;
  font-size: 100px;
  line-height: 1.2;
  animation: OnBoardingAnimation;
  animation-duration: 2s;
  animation-delay: 0.1s;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2,0.8,0.2,1);
}

.Onboarding h2 {
  font-family: 'Lato';
  color: white;
  font-weight: 800;
  font-style: bold;
  font-size: 36px;
  line-height: 1.2;
  animation: OnBoardingAnimation 3s forwards cubic-bezier(0.2,0.8,0.2,1);
  opacity: 0;
}

.Onboarding p {
  color:rgba(255,255,255,0.8);
  font-size: 26px;
  line-height: 1.5;
  animation: OnBoardingAnimation 3s 0.2s forwards cubic-bezier(0.2,0.8,0.2,1);
  opacity: 0;
}

.Onboarding a {
  font-size:17px;
  font-weight: 600;
  color:white;
  /*text-transform: uppercase;*/
  background: #000;
  padding: 9px 20px;
  border: 1px solid rgba(255,255,255, 0.25);
  border-radius: 20px;
  transition: 0.8s cubic-bezier(0.2,0.8,0.2,1);
}

.Onboarding a:hover {
  background: white;
  color:black;

}

@media (max-width: 640px) {
  .OnboardingGroup {
    padding: 100px 20px;
  }

  .Onboarding h1{
    font-size: 40px;
  }

  .Onboarding p {
    font-size: 24px;
  }
}

@keyframes OnBoardingAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.Cards h2 {
  margin: 50px 20px;
  font-size: 60px;
  text-align: left;
  font-weight: 700;
  background: linear-gradient(104deg,#141414 0%, #141414 100%);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.CardGroup {
  margin: 50px 40px 100px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 40px;
  justify-items: center;

}

@media (max-width: 1060px) {
  .CardGroup {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 720px) {
  .CardGroup {
    grid-template-columns: repeat(1, 1fr);
  }
}

.Onboarding svg {
  position: absolute;
  bottom: 0;
  left: 0;
}